header {
    background: rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: center;
}
