body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #333;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.05);
    color: white;
}

/* input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 2px solid #eee;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;
    outline: none;
} */

/* input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: #4facfe;
    box-shadow: 0 0 8px rgba(79, 172, 254, 0.3);
    background-color: #fff;
}

main button[type="submit"] {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
} */
